* {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 2.5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.75);
}

img {
    object-fit: cover;
}

.scale {
    transform: scale(1.125);
}

.grid {
    padding-top: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.grid h1 {
    grid-column-start: 2;
}

.grid input {
    place-self: end;
    max-width: 75%;
}

@media (max-width: 992px) {
    nav ul {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    nav ul li:last-child {
        grid-column-end: 3;
    }

}

@media (max-width: 991px) {
    #countries {
        margin-left: 0 !important;
    }
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid h1 {
        grid-column-start: 1;
        padding-bottom: 12px;
    }

    .grid input {
        place-self: center;
    }
}

@media (max-width: 575px) {
    nav ul {
        grid-template-columns: 1fr 1fr !important;
    }
}