* {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 2.5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.75);
}

img {
    object-fit: cover;
}

i {
    transform: scale(1.15);
}